// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product {
    float: left;
    border: 2px solid black;
    width: 200px;
    height: 375px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FF0000;
}

.product:nth-of-type(3n + 2) {
    margin-left: 12px;
    margin-right: 12px;
}

div img {
    max-width: 150px;
    height: auto;
}

.product input[type="number"] {
    width: 70px;
    margin-right: 10px;
}

.product h4 {
    color: white;
}

.product input[type="number"], .product input[type="submit"] {
  margin-top: 20px;  
}

#filter {
    background-color: #d3d3d3;
    height: 100px;
    margin-bottom: 10px;
}

.product h3 {
    margin-top: 20px;
    padding-left: 30px;

    color: #000;
}

