// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product {
    float: left;
    border: 2px solid black;
    max-width: 300px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.product:nth-of-type(3n + 2) {
    margin-left: 12px;
    margin-right: 12px;
}

div img {
    max-width: 150px;
    height: auto;
}

#order_item_quantity {
    width: 100px
}