// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product {
    float: left;
    border: 2px solid black;
    width: 200px;
    height: 375px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FF0000;
    margin-bottom: 20px;
}

.product a {
    color: black !important;
}

.product:nth-of-type(4n + 2) {
    margin-left: 20px;
    margin-right: 20px;
}

 .product:nth-of-type(4n + 3) {
    margin-right: 20px;
 }

div img {
    max-width: 150px;
    height: auto;
}

.product h4 {
    color: white;
    text-decoration: none !important;
}

.product input[type="submit"] {
  margin-top: 20px;
  margin-left: 45px;
}

#filter {
    background-color: #d3d3d3;
    height: 100px;
    margin-bottom: 10px;
}

.product h3 {
    margin-top: 20px;
    padding-left: 30px;

    color: #000;
}

