<p>
  <%= @product.name %>
  <% if @product.stock > 0 %>
    <strong class="in-stock"> - In Stock!</strong>
  <% else %>
    <strong class="out-of-stock"> - Out of Stock!</strong>
  <% end %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
 
<%= image_tag(@product.image) %>

<%= button_to "Add to Cart", cart_items_path(product_id: @product), remote: true %>

