<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
  <% if @product.stock > 0 %>
    <strong class="in-stock"> - In Stock!</strong>
  <% else %>
    <strong class="out-of-stock"> - Out of Stock!</strong>
  <% end %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<ul>
  
  <% @product.description.each_line do |line| %>
    <li><% line.chomp %></li>
  <% end %>
  
</ul>
    
  <%= image_tag(@product.image) %>


